<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://placehold.co/300x200" alt="image_big_card" width="300" height="200">
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum voluptatem dolorum, culpa ducimus repudiandae doloremque quo similique esse quam veniam?
        </p>
    </div>
</div>