.container__menu-title {
    color: white
}

.container__menu-title > h1 {
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    font-size: 135px;
    display: flex;
    justify-content: center;
}

.container__menu-title > hr {
    margin: 20px 0 5px 0;

}